<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dataColumnMapper" >
  <resultMap id="defaultMap" type="DataColumn" >
    <id column="COLUMN_ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="COUNT_DATA" property="countData" jdbcType="INTEGER" />
    <result column="COUNT_DATA_Y" property="countDataY" jdbcType="INTEGER" />
    <result column="COUNT_DATA_N" property="countDataN" jdbcType="INTEGER" />
  </resultMap>
  	<sql id="all">
		COLUMN_ID,NAME,COUNT_DATA,COUNT_DATA_Y,COUNT_DATA_N
	</sql>
	<sql id="query">1=1 
		<if test="id!= null">
			and COLUMN_ID=#{id}
		</if>
		<if test="name!= null">
			and NAME=#{name}
		</if>
		<if test="countData!= null">
			and COUNT_DATA=#{countData}
		</if>
		<if test="countDataY!= null">
			and COUNT_DATA_Y=#{countDataY}
		</if>
		<if test="countDataN!= null">
			and COUNT_DATA_N=#{countDataN}
		</if>
	</sql>
  	<insert id="insert" parameterType="DataColumn" keyProperty="id" useGeneratedKeys="true">
		insert into DATA_COLUMN
		(NAME,COUNT_DATA,COUNT_DATA_Y,COUNT_DATA_N)
		values(#{name},#{countData},#{countDataY},#{countDataN});
	</insert>
	<update id="update" parameterType="DataColumn">
		update DATA_COLUMN
		<trim prefix="SET" suffixOverrides=",">
			<if test="name!=null">
				NAME=#{name},
			</if>
			<if test="countData!=null">
				COUNT_DATA=#{countData},
			</if>
			<if test="countDataY!=null">
				COUNT_DATA_Y=#{countDataY},
			</if>
			<if test="countDataN!=null">
				COUNT_DATA_N=#{countDataN},
			</if>
		</trim>
		where COLUMN_ID=#{id};
	</update>
	<delete id="delete" parameterType="DataColumn">
		delete from DATA_COLUMN where COLUMN_ID=#{id}
	</delete>
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from DATA_COLUMN where COLUMN_ID = #{id}
	</delete>
	<select id="getById" resultMap="defaultMap" parameterType="java.util.HashMap">
		select <include refid="all" /> from DATA_COLUMN where COLUMN_ID = #{id}
	</select>
	<select id="findAll" resultMap="defaultMap" parameterType="java.util.HashMap">
		select <include refid="all" /> from DATA_COLUMN where <include refid="query" />
	</select>
	<select id="getCount" resultType="java.lang.Long" parameterType="java.util.HashMap">
		select count(COLUMN_ID) from DATA_COLUMN where <include refid="query" />
	</select>
	<select id="getOne" resultMap="defaultMap" parameterType="java.util.HashMap">
		select <include refid="all" /> from DATA_COLUMN where <include refid="query" />
	</select>
</mapper>