<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
           http://www.springframework.org/schema/task
		   http://www.springframework.org/schema/task/spring-task.xsd">

<!-- 	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:/conf/config.properties</value>
			</list>
		</property>
	</bean> -->

	<bean id="propertyConfigurer" class="base.arch.tools.config.properties.PropertyConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath*:/conf/config.properties</value>
			</list>
		</property>
		<!-- 是否加载插件。当为false或者没有配置configList都视为不加载插件读取配置 -->
		<property name="loadPlugin" value="true" />
		<property name="configList">
			<list>
				<ref bean="mysqlConfigRead"/>
			</list>
		</property>
	</bean>
	<bean id="mysqlConfigRead" class="base.arch.tools.config.properties.MysqlConfigRead">
		
		<!-- 排除的key，这些key自己加载 -->
		<property name="excludeKeys">
			<set>
				<value>pofExcludePath</value>
			</set>
		</property>
	</bean>

	<!-- 扫描包路径 -->
	<context:component-scan base-package="base.arch.tools.config"/>
	<context:component-scan base-package="com.commiao.inteface.demo"/>
	<context:component-scan base-package="base.arch.component.logger"/>

	<import resource="classpath:spring/applicationContext-dataSource-c3p0.xml" />
	<import resource="classpath:spring/applicationContext-tx.xml" />
	<import resource="classpath:spring/applicationContext-logger.xml" />
	<import resource="classpath:spring/applicationContext-redis.xml" />

</beans>