<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
           http://www.springframework.org/schema/task
		   http://www.springframework.org/schema/task/spring-task.xsd
		   http://activemq.apache.org/schema/core
      	   http://activemq.apache.org/schema/core/activemq-core-5.10.0.xsd
      	   http://www.springframework.org/schema/data/mongo  
		   http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
	
	<bean id="defaultGroup" class="base.arch.component.logger.bean.Group" >
		<property name="name" value="defaultGroup"/>
	</bean>
	
	<bean id="sl4jLoggerHandler"  class="base.arch.component.logger.handler.Sl4jLoggerHandler"/>
	
	<bean id="handleLinkedlist" class="java.util.LinkedList">
		<constructor-arg>
				<list>
					<ref bean="sl4jLoggerHandler"/>
				</list>		
		</constructor-arg>
	</bean>
	
	<bean id="loggerSpringApplicationContextHolder" class="base.arch.component.logger.manager.LoggerSpringApplicationContextHolder"></bean>
	
	<bean id="loggerChain" class="base.arch.component.logger.manager.HTLoggerChain">
		<constructor-arg name="map">
			<map>
				<entry  key="defaultGroup" value-ref="handleLinkedlist" />
			</map>		
		</constructor-arg>
		<property name="defaultGroup" ref="defaultGroup" />
	</bean>
	
	
	<bean id="loggerManager" class="base.arch.component.logger.manager.HTLoggerManager">
		<constructor-arg name="times" value="2"/>
		<constructor-arg name="asynFlag" value="true" />
		<property name="loggerChain" ref="loggerChain" />
	</bean>
	
	<bean id="HTLoggerFactory" class="base.arch.component.logger.manager.HTLoggerFactory" >
	</bean>	
	
</beans>